body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1;
  outline: bl;
}

textarea{
  background: transparent;
  border: 100px;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.Main {
  text-align: center;
  background-color: transparent;
  color: rgb(125, 163, 148);
  border-radius: 10pc;
}

.description{
  white-space: pre-wrap;
}


.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3b87d;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #7cbde9;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #67af99;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.footer {
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}